attrs==21.2.0
iniconfig==1.1.1
mypy==0.910
mypy-extensions==0.4.3
packaging==21.3
pip==21.1.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.6
pytest==6.2.5
setuptools==57.0.0
toml==0.10.2
typing-extensions==4.0.1
wheel==0.36.2
